{{ define "main" }}

<div class="backdrop">
    <div class="backdrop-paper"></div>
</div>

<input class="toggle" type="checkbox" id="toggle-drawer">
<input class="toggle" type="checkbox" id="toggle-search">
<label class="toggle-button overlay" for="toggle-drawer"></label>

{{ partial "header" . }}

<main class="main">
    <div class="drawer">
        {{ partial "drawer" . }}
    </div>

    <article class="article">
        <div class="wrapper">
            {{ with .Site.Params.banner_image }}
                <div class="logo">
                <img src="{{ $.Site.BaseURL }}{{ . }}" decoding="async" fetchpriority="high">
                </div>
            {{ end }}
            <h1>{{ .Title }}</h1>

            {{/* 渲染页面内容 */}}
            {{ .Content }}

            {{/* 如果没有自定义内容，则显示子页面列表 */}}
            {{ if not .Content }}
            {{ range .Data.Pages }}
            <a href="{{ .Permalink }}" title="{{ .Title }}">
                <h2>{{ .Title }}</h2>
            </a>
            <br>
            {{ printf "%s" .Summary | markdownify }}
            <hr>
            {{ end }}
            {{ end }}

            <aside class="copyright" role="note">
                {{ with .Site.Params.copyright }}
                &copy; {{ $.Now.Format "2006" }} {{ . }} &ndash;
                {{ end }}
            </aside>
        </div>
    </article>

    <div class="results" role="status" aria-live="polite">
        <div class="scrollable">
            <div class="wrapper">
                <div class="meta"></div>
                <div class="list"></div>
            </div>
        </div>
    </div>
</main>
{{ end }}
