{{ define "main" }}

<div class="backdrop">
    <div class="backdrop-paper"></div>
</div>

<input class="toggle" type="checkbox" id="toggle-drawer">
<input class="toggle" type="checkbox" id="toggle-search">
<label class="toggle-button overlay" for="toggle-drawer"></label>

{{ partial "header" . }}

<main class="main">
    <div class="drawer">
        {{ partial "drawer" . }}
    </div>

    <article class="article session-page">
        <div class="wrapper">
            {{ with .Site.Params.banner_image }}
                <div class="logo">
                <img src="{{ $.Site.BaseURL }}{{ . }}">
                </div>
            {{ end }}
            <h1>{{ .Title }}</h1>

            {{ range where .Site.RegularPages "Section" "schedule" }}
            {{ if ne .Title "Sessions" }}
            {{ $page := . }}
            <div class="session-list-item">
                <div class="session-list-title"><a href="{{ $page.Permalink }}">{{ $page.Title }}</a></div>
                {{ if $page.Params.speaker }}
                <div class="session-list-speaker">{{ $page.Params.speaker }}{{ with $page.Params.affiliation }}, {{ . }}{{ end }}</div>
                {{ end }}
                {{- $time := $page.Params.time }}
                {{- $location := $page.Params.location }}
                {{- if or (and $time (ne $time "TBD")) (and $location (ne $location "TBD")) }}
                <div class="session-list-meta">{{ if and $time (ne $time "TBD") }}{{ $time }}{{ end }}{{ if and (and $time (ne $time "TBD")) (and $location (ne $location "TBD")) }} | {{ end }}{{ if and $location (ne $location "TBD") }}{{ $location }}{{ end }}</div>
                {{ end }}
            </div>
            {{ end }}
            {{ end }}

            <aside class="copyright" role="note">
                {{ with .Site.Params.copyright }}
                &copy; {{ $.Now.Format "2006" }} {{ . }} &ndash;
                {{ end }}
            </aside>
        </div>
    </article>

    <div class="results" role="status" aria-live="polite">
        <div class="scrollable">
            <div class="wrapper">
                <div class="meta"></div>
                <div class="list"></div>
            </div>
        </div>
    </div>
</main>
{{ end }}
